/* only small desktops */
/* tablets */
/* only small tablets */
@media only screen and (min-width: 992px) and (max-width: 1180px) {
	.footer-area h3{
		font-size: 18px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-light .navbar-brand{
		margin-left: 15px;
	}
	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.carousel-control-prev{
		left: -60px;
	}
	.carousel-control-next{
		right: -60px;
	}
	.why-text h4{
		font-size: 18px;
	}
	.why-text p{
		margin: 0px;
	}
}

/* mobile or only mobile */
@media (max-width: 767px) {
	.navbar-light .navbar-brand{
		margin-left: 15px;
	}
	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.cover-slides h1{
		padding: 20px 0 0;
		font-size: 40px;
		line-height: 40px !important;
		margin: 110% 0 0;
	}
	.cover-slides p {
		font-size: 12px;
		line-height: 18px;
	}
	.cover-slides{
		height: 95vh;
	}
	/* .overlay-background-1 {
		opacity: 0;
	}
	.overlay-background-2 {
		opacity: 0;
	}
	.overlay-background-3 {
		opacity: 0;
	} */
	.top-navbar .navbar{
		padding: 0px 0px;
	}
	.cover-slides .row{
		display: flex;
		flex-direction: column-reverse;
	}
	/* .cover-slides .row .col-md-6:first-child{
		top: 350px;
	} */
	.btn{
		text-transform: uppercase;
		padding: 5px 10px;
		margin: 10px 0 15px;
		font-size: 12px;
	}
	.about-section-box .p-r-15 {
		padding: 0 0 0 0;
	}
	.about-section-box .p-l-15 {
		padding: 0 0 0 0;
	}
	.about-section-box .row {
		padding: 0 0 0;
		display: flex;
		flex-direction: column;
	}
	.about-section-box .row .col-md-4 img{
		display: none;
	}
	.eddition .col-sm-6{
		max-width: 100% !important;
	}
	.main-banner{
		width: 100% !important;
		height: auto !important;
		top: 0px !important;
		left: 0px !important;
		box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
	}
	.menu-box .col-lg-4{
		width: 50%;
		padding: 0 5px;
	}
	.why-text h4{
		font-size: 18px;
	}
	.why-text p{
		font-size: 16px;
	}
	.why-text a{
		font-size: 14px;
	}
	.qt-box .col-lg-4{
		max-width: 100%;
		margin: 10px 0;
	}
	.qt-box .inner-column{
		margin: 0;
	}
	.customer-reviews-box .pt-3{
		width: 75%;
		font-size: 18px !important;
		margin: 0 auto !important;
	}
	.footer-area .col-lg-4 img{
		width: 30%;
	}
	.footer-area .col-lg-4 p{
		float: right;
	}
	.footer-area p{
		text-align: right;
	}
	.slides-navigation a{
		height: 42px;
		width: 38px;
		line-height: 33px;
	}
	.inner-column{
		margin-top: 15px;
	}
	.inner-column h1{
		font-size: 22px;
	}
	.filter-button-group{
		margin: 10px 0px;
	}
	
	.contact-imfo-box .col-md-4{
		margin-bottom: 15px;
	}
	.carousel-control-prev{
		left: 0px;
	}
	.carousel-control-next{
		right: 0px;
	}
	.blog-box-inner .blog-detail{
		overflow: hidden;
	}
	.blog-sidebar{
		margin-top: 50px;
	}
	.gallery-box .col-lg-2{
		width: 33.33%;
		padding: 0 5px;
	}


	.bestseller ul>li{
		width: 100% !important;
		padding: 20px 35px;
		clear: both;
	}
	.about-section-box ul>li{
		width: 100% !important;
	}
	.about-section-box ul>li::after{
		display: none !important;
	}


	#input-form{
		width: 100% !important;
	}
	#user-table>thead>tr>th:first-child{
		display: none;
	}
	#user-table>tbody>tr>td:first-child{
		display: none;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	
	.why-text p{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}
